<?xml version="1.0"?>
<ruleset
        name="PHPCS Coding Standards for doctrine/coding-standards"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <description>Check the code of the sniffs in doctrine/coding-standards.</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="colors" />

    <!-- Show progress of the run -->
    <arg value="p"/>

    <rule ref="Doctrine">
        <exclude name="Squiz.NamingConventions.ValidVariableName.MemberNotCamelCaps"/>
        <exclude name="SlevomatCodingStandard.ControlStructures.UselessIfConditionWithReturn.UselessIfCondition"/>
        <exclude name="Generic.Files.LineLength.TooLong"/>
        <exclude name="Squiz.NamingConventions.ValidVariableName.NotCamelCaps"/>
        <exclude name="SlevomatCodingStandard.PHP.RequireExplicitAssertion.RequiredExplicitAssertion"/>
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification"/>
        <exclude name="SlevomatCodingStandard.Commenting.RequireOneLineDocComment.MultiLineDocComment"/>
    </rule>

    <file>src</file>
</ruleset>
