<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedPsalmSuppress="true"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <RedundantCondition>
            <!-- Lets keep these issues as info-level until we remove support for psalm v4 -->
            <errorLevel type="info">
                <directory name="src"/>
            </errorLevel>
        </RedundantCondition>
    </issueHandlers>
</psalm>
