name: "Auto merge dependabot bumps"

on:
  workflow_run:
    types:
      - completed
    workflows:
      - "Continuous Integration"
    branches-ignore:
      - "*.x"

jobs:
  merge-me:
    name: Merge me!
    runs-on: ubuntu-latest

    steps:
      - name: Merge me!
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        uses: ridedott/merge-me-action@v2.9.93
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRESET: DEPENDABOT_MINOR
